* {
    margin: 0;
    padding: 0;

}



.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

header {

    height: 75px;
    background-color: #222222;
}

.header .header_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-content: center;
}

.header .header_menu .logo_header_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 42px;
    margin-left: 231px;

}

.header .header_menu .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 33px;
    align-content: center;
    margin-right: 231px;


}

.body {
    height: 764px;
    background-color: #f1e4e6;

}

.body .general_body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.body .general_body .general_text {
    display: flex;
    gap: 16px;
    margin-left: 64px;
}

.body .general_body .general_text .color_text {
    display: flex;
    gap: 9px;
}

.body .general_body .general_text .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body .general_body .general_text .text h5 {
    font-size: 48px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.body .general_body .general_text .text h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.body .general_body .general_text .text p {
    color: #b078a4;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.sections .string {
    padding-top: 60px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.sections .solo {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.collection .collection_text {
    padding-top: 96px;
    gap: 6px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

}

.collection .collection_text h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_text h2 {
    font-size: 14px;
    font-weight: 400;
    color: #9f9f9f;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu {
    display: grid;

    grid-template-columns: repeat(3, 360px);
    grid-template-rows: max-content;
    gap: 30px;
    justify-content: center;
}

.collection .collection_menu .blok1 .blok1_text {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
}

.collection .collection_menu .blok1 .blok1_text h1 {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok1 .blok1_text h2 {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok1 .blok1_text h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}


.collection .collection_menu .blok2 .blok2_text {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
}

.collection .collection_menu .blok2 .blok2_img {
    height: 420px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #f7e4e2;

}

.collection .collection_menu .blok2 .blok2_img img {
    height: 400px;
}

.collection .collection_menu .blok2 .blok2_text h1 {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok2 .blok2_text h2 {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok2 .blok2_text h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok3 .blok3_text {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
}

.collection .collection_menu .blok3 .blok3_text h1 {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok3 .blok3_text h2 {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok3 .blok3_text h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok4 .blok4_text {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
}

.collection .collection_menu .blok4 .blok4_text h1 {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok4 .blok4_text h2 {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok4 .blok4_text h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok5 .blok5_text {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
}

.collection .collection_menu .blok5 .blok5_text h1 {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok5 .blok5_text h2 {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok5 .blok5_text h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok6 .blok6_text {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
}

.collection .collection_menu .blok6 .blok6_text h1 {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok6 .blok6_text h2 {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.collection .collection_menu .blok6 .blok6_text h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.collection .bot_button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 60px;
}

.collection .bot_button .button {
    border: 1px solid #f79ea9;
    height: 48px;
    width: 212px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.collection .bot_button .button h1 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #f79ea9;
}

.offers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: #222224;
    height: 341px;
    align-content: center;

}

.offers .left {

    width: 360px;
    height: 134px;
}

.offers .left .img_dostavka {
    margin-top: 0px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.offers .left h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 16px;
    color: white;
}

.offers .left p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
}

.offers .central {

    width: 360px;
    height: 134px;
}

.offers .central .img_dostavka {
    margin-top: 0px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.offers .central h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 16px;
    color: white;

}

.offers .central p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
}

.offers .right {

    width: 360px;
    height: 134px;
}

.offers .right .img_dostavka {
    margin-top: 0px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.offers .right h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 16px;
    color: white;
}

.offers .right p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
}

.futer {
    height: 448px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(img/background.png);
}

.futer h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 24px;

}

.futer .fut_left {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 97px;
}

.futer .fut_right {
    display: flex;
    margin-top: 150px;
    width: 557px;
    height: 142px;
    flex-direction: column;
    align-items: center;
}

.futer .fut_right h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.futer .fut_right p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.futer .fut_right .but_all {
    background-color: #E1E1E1;
    width: 356px;
    display: flex;
    height: 49px;
    border-radius: 30px;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
}

.futer .fut_right .but_r {
    background-color: #E1E1E1;
    border: none;

}

.futer .fut_right .but_r {
    background-color: #F16D7F;
    color: white;
    width: 100px;
    height: 49px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 14px;
    font-weight: 400;

    font-family: 'Lato', sans-serif;
}

.futer .fut_right .but_l {
    background-color: white;
    font-size: 14px;
    font-weight: 400;

    font-family: 'Lato', sans-serif;
    width: 256px;
    height: 49px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.futer .fut_right .but_l input {
    border: none;
}

.futer .fut_right .but_l .placeholder {

    color: white;
    width: 256px;
    height: 49px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;


}

.over_futer {
    background-color: #222224;
    height: 79px;
    display: flex;
    justify-content: space-between;

}

.over_futer h1 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-top: 30px;
    margin-left: 235px;
}

.over_futer .of_r {
    margin-top: 24px;
    margin-right: 235px;
}


@media (max-width:768px) {

    /* Style for tablet */
    .center {
        padding-left: calc(50% - 369px);
        padding-right: calc(50% - 369px);
    }

    header {

        height: 74px;
    }

    .header .header_menu .logo_header_menu {

        gap: 41px;
        margin-left: 32px;

    }

    .header .header_menu .menu {

        gap: 33px;

        margin-right: 32px;


    }

    .body {
        height: 367px;
        background-color: #f1e4e6;

    }

    .body .general_body .general_img .general_img_man {
        height: 368px;
        width: 386px;
        min-height: 368px;
        min-width: 386px;


    }

    .body .general_body .general_text {

        margin-left: 39px;
        height: 92px;
        width: 311px;
    }

    .body .general_body .general_text .text h5 {
        font-size: 44px;
        font-weight: 900;

    }

    .body .general_body .general_text .text h1 {
        font-size: 24px;

    }

    .body .general_body .general_text .text p {

        font-size: 24px;
        font-weight: 700;

    }

    .body .general_body .general_text .color_text {
        display: flex;
        gap: 4px;
    }

    .sections .string {
        padding-top: 65px;

        gap: 20px;

    }

    .sections .string .string_img {
        width: 232.33px;
        height: 167.62px;
        min-width: 232.33px;
        min-height: 167.62px;
    }

    .sections .solo {
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    .sections .solo .solo_img {
        width: 736px;
        height: 116px;
        min-width: 736px;
        min-height: 116px;
    }

    .collection .collection_menu {
        display: grid;

        grid-template-columns: repeat(2, 360px);

        gap: 16px;

    }

    .offers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 610px;
    }
    .futer{
        display: flex;
        height: 610px;
        background-image: url(img/photo\ subscribe.png);
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }
    .futer .fut_left{
        margin-top: 64px;
    }
    .futer .fut_right{
        margin-top: 48px;
    }
    .over_futer .of_r {
        margin-top: 24px;
        margin-right: 32px;
    }
    .over_futer h1 {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: white;
        margin-top: 30px;
        margin-left: 32px;
    }
}

@media (max-width:375px) {
    .center {
        padding-left: calc(50% - 188px);
        padding-right: calc(50% - 188px);
    }

    header {

        height: 74px;
    }

    .header .header_menu .menu .img_profil {

        display: none;


    }

    .header .header_menu .menu .img_buy {

        display: none;


    }

    .body .general_body .general_img .general_img_man {
        height: 368px;
        width: 386px;
        min-height: 368px;
        min-width: 386px;
        display: none;

    }

    .body {



        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }

    .body .general_body .general_text .text h5 {
        font-size: 38px;
        font-weight: 900;

    }

    .body .general_body .general_text .text h1 {
        font-size: 20px;

    }

    .body .general_body .general_text .text p {
        font-size: 20px;

    }

    .body .general_body .general_text {
        display: flex;
        gap: 16px;
        margin-left: 64px;
        align-items: center;

    }

    .body .general_body .general_text img {

        height: 61px;
        width: 12px;

    }

    .sections .string {

        display: flex;

        flex-direction: column;
        align-items: center;
    }

    .sections .string .string_img {
        width: 343px;
        height: 248px;
        min-width: 343px;
        min-height: 248px;
    }

    .sections .solo .solo_img {
        width: 343.26px;
        height: 111px;
        min-width: 343.26px;
        min-height: 111px;
    }

    .collection .collection_menu {
        display: grid;

        grid-template-columns: repeat(1, 360px);

        gap: 16px;

    }
    .over_futer {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-items: center;
        height: 143px;
    }
    .futer{
        
        background-image: url(img/photo_subscribe_375.png);
        height: 550px;
        
            display: flex;
            flex-direction: row;
        
    }
    .over_futer h1 {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: white;
        margin-top: 30px;
        margin-left: 0px;
    }
    .futer .fut_right {
        display: flex;
       
     
        height: 142px;
        flex-direction: column;
        align-items: center;
    }
    .futer .fut_right .but_all {
        background-color: #E1E1E1;
        width: 310px;
        display: flex;
        height: 49px;
        border-radius: 30px;
        flex-direction: row;
        justify-content: center;
        margin-top: 32px;
    }
    .futer .fut_left {
     
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 64px;
    }
    .over_futer .of_r {
        margin-top: 24px;
        margin-right: 16px;
        margin-left: 16px;
    }
    
    
  
}